<div class="footer" flex="">
            <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                <md-icon ><i class="material-icons">copyright</i></md-icon>
            </md-button>

                <span style="font-size: x-small">Eat-It 2016 - By Eliran Shem Tov</span>

            <span flex=""></span>
            <md-button id="logout" class="md-icon-button" aria-label="Favorite">
                <md-icon><i class="material-icons">help_outlined</i></md-icon>
            </md-button>
</div>