
<div>
    <h1> Dish Info! </h1>
    <md-card>
        <img class="profilePic" ng-src="{{dish.imgUrl}}" >
        <span>
            <h1> {{dish.name}} </h1> <b> Made By: </b>
            {{dish.owner}}
        </span>




        {{dish.genre}}
        {{dish.course}}
         {{dish.price}}
         {{dish.specialingredients}}
         {{dish.specialCheck}}
         {{dish.startDate }}
        {{dish.endDate}}
         {{dish.diners }}
        {{dish.dishSize}}
         {{dish.instructions}}
         {{dish.storage }}
        {{dish.imgUrl }}
         {{dish.city}}

    </md-card>
</div>