<div ng-controller="pendingDishesCtrl" layout="row">
    <md-list flex="" class="pendingList">
        <md-subheader class="md-no-sticky">Click on an order to see it's details</md-subheader>



        <!--TO BE REPLACED WITH NG REPEAT FROM DB-->



        <md-list-item class="md-3-line"  ng-click="null">
            <img ng-src="" class="md-avatar">
            <div class="md-list-item-text" layout="column">
                <h3>test</h3>
                <h4>test</h4>
                <p>test</p>
            </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-3-line"  ng-click="null">
            <img ng-src="" class="md-avatar">
            <div class="md-list-item-text" layout="column">
                <h3>test</h3>
                <h4>test</h4>
                <p>test</p>
            </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-3-line"  ng-click="null">
            <img ng-src="" class="md-avatar">
            <div class="md-list-item-text" layout="column">
                <h3>test</h3>
                <h4>test</h4>
                <p>test</p>
            </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-3-line"  ng-click="null">
            <img ng-src="" class="md-avatar">
            <div class="md-list-item-text" layout="column">
                <h3>test</h3>
                <h4>test</h4>
                <p>test</p>
            </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-3-line"  ng-click="null">
            <img ng-src="" class="md-avatar">
            <div class="md-list-item-text" layout="column">
                <h3>test</h3>
                <h4>test</h4>
                <p>test</p>
            </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-3-line"  ng-click="null">
            <img ng-src="" class="md-avatar">
            <div class="md-list-item-text" layout="column">
                <h3>test</h3>
                <h4>test</h4>
                <p>test</p>
            </div>
        </md-list-item>
    </md-list>

    <div flex="">
    <md-card class="myDishes_specific">
        <h2>Dish Name: </h2>
        <h4>Genre & Course Type: </h4>
        <h4>Customer Name: </h4>
        <h4>Date & Time Specified: </h4>
        <h4>To location:</h4>
        <h4>Price Per Unit: </h4>
        <h4>Units: </h4>
        <h4>Total Price: </h4>
        <div layout="row" flex="">
            <md-button flex class="md-raised md-primary">Contact Customer</md-button>
            <md-button flex class="md-raised md-primary">Mark As Delivered</md-button>
        </div>
    </md-card>
    </div>
</div>