<md-toolbar class="md-accent md-hue-2 mainAppFooter" flex="" layout="row">
    <md-button class="" aria-label="Settings" ng-disabled="true">
        <md-icon ><i class="material-icons">copyright</i></md-icon>
    </md-button>

    <span style="font-size: x-small; margin-top: 1.7%">Eat-It 2016 - By EliranShemTov</span>

    <span flex=""></span>
    <md-button id="logout" class="" aria-label="Favorite">
        <md-icon><i class="material-icons" ui-sref="getSupport">help_outlined</i></md-icon>
    </md-button>
</md-toolbar>