<h1> All EatIt Users</h1>
<md-content>
    <md-list flex="">
        <md-subheader class="md-no-sticky">All the users in the same list</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="u in users" ng-click="null">
            <img ng-src="{{u.picUrl}}" class="md-avatar" alt="{{u.username}}">
            <div class="md-list-item-text" layout="column">
                <h3>{{ u.fullName}}</h3>
                <h4>{{ u.email }}</h4>
                <p>{{ u.address }}</p>
            </div>
        </md-list-item>
    </md-list>
</md-content>


    <!--<img class="profilePic" ng-src="{{u.picUrl}}" >-->
    <!--<a ui-sref="profile({id:'{{u._id}}'})"> {{u.username}}</a>-->
    <!--{{u.username}} | {{u.fullName}} | {{u.email}} | {{u.address}} | {{u.birthDate}} | {{u.cookRole}} | {{u.role}}-->

    <!--| {{u.about}} | {{u.distributionArea}} | {{u.genre}} | {{u.bestDish}} | {{u.shoppingCart}} | {{u.pendingDishes}}-->
    <!--<br>-->
    <!--{{u._id}}-->

